<div class="tile is-parent is-vertical" *ngIf="user">
	<div class="tile is-child notification is-primary has-text-dark">
		<p class="title">{{ user.first_name }} {{ user.last_name }}'s profile</p>
		<div class="tile is-child notification is-warning has-text-dark">
			<div class="content">
				<p class="title">Libs</p>
				<div *ngIf="user.madlibs?.length == 0">
					<p class="subtitle">
						Booo, {{ user.user_name }} hasn't created any libs yet (maybe they
						should push that big green button at the top?)
					</p>
				</div>
				<div
					*ngIf="user.madlibs?.length >= 1"
					style="height: 400px; overflow: auto"
				>
					<div
						class="box has-background-info has-text-light"
						*ngFor="let lib of user.madlibs"
					>
						<!-- lib.title (make it this a link)  -->
						<p class="title">
							<a [routerLink]="['/lib/', lib._id]">{{ lib.title }}</a>
						</p>
						<p class="subtitle">{{ lib.madlib }}</p>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="activeUser">
			<ng-container *ngIf="activeUser._id == user._id">
				<div class="block"></div>
				<div class="level">
					<div class="level-item">
						<p
							class="button is-info is-size-5"
							[routerLink]="['/user/edit/', activeUser._id]"
						>
							Edit Profile
						</p>
					</div>
				</div>
			</ng-container>
		</ng-container>
	</div>
</div>
