<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Madlibber</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
		/>
	</head>
	<body>
		<app-navbar></app-navbar>
		<section class="section has-background-dark">
			<div class="container" *ngIf="error_set">
				<div class="notification is-danger">
					<ul *ngFor="let error of error_set | keyvalue">
						<ng-container *ngIf="error.key == 'name'">
							<ng-container *ngFor="let subItem of error.value | keyvalue">
								<li *ngIf="subItem.value == 'user defined'">
									A pet by this name already exists
								</li>
								<li *ngIf="subItem.value == 'required'">Must enter a name</li>
								<li *ngIf="subItem.value == 'minlength'">
									Name should be at least 3 chars
								</li>
							</ng-container>
						</ng-container>
						<li *ngIf="error.key == 'type'">Type should be at least 3 chars</li>
						<li *ngIf="error.key == 'description'">
							Description should be at least 3 chars
						</li>
					</ul>
				</div>
				<div class="block"></div>
			</div>
			<div class="container">
				<div class="content">
					<router-outlet></router-outlet>
				</div>
			</div>
		</section>
		<footer class="footer has-background-grey-dark">
			<div class="content has-text-centered has-text-light">
				<p>
					<span class="is-bold is-size-4 is-block">Madlibber</span>
					By
					<a class="has-text-info" href="https://github.com/ZachBryant34"
						>Zachary Bryant</a
					>,
					<a class="has-text-info" href="https://github.com/djdembeck"
						>David Dembeck</a
					>,
					<a class="has-text-info" href="https://github.com/D-pitz"
						>David Pitz</a
					>. The source code is licensed
					<a
						class="has-text-info"
						href="https://opensource.org/licenses/GPL-3.0"
						>GPL-3.0</a
					>. The website content is licensed
					<a
						class="has-text-info"
						href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
						>CC BY NC SA 4.0</a
					>.
				</p>
			</div>
		</footer>
	</body>
</html>
