<div class="card has-background-grey-dark" *ngIf="madlib">
	<div class="card-header">
		<div class="card-header-title">
			<p class="title has-text-warning-light">
				Create a Madlib: {{ madlib.title }}
			</p>
		</div>
	</div>
	<form (submit)="onNewMadlib()">
		<div class="card-content">
			<div class="content">
				<div class="columns is-multiline">
					<div
						class="column is-one-quarter has-text-centered"
						*ngFor="let control of words_field.controls; let i = index"
					>
						<ng-container *ngIf="madlib.value[i]">
							<div class="field">
								<p class="subtitle is-size-5 has-text-light">
									{{ madlib.blanks[i] }}
								</p>
								<input
									class="
										input
										has-text-centered has-background-warning-dark has-text-light
									"
									[ngClass]="
										control.invalid && (control.dirty || control.touched)
											? 'is-danger'
											: 'is-light'
									"
									[ngClass]="control.valid ? '' : 'is-danger'"
									size="{{ madlib.blanks[i].length }}"
									type="text"
									[formControl]="words_field.controls[i]"
								/>
								<!-- Field validation errors -->
								<p
									*ngIf="control.invalid && (control.dirty || control.touched)"
									class="help is-danger is-size-6"
								>
									<span *ngIf="control.errors?.required">
										Word is required.
									</span>
									<span *ngIf="control.errors?.minlength">
										Word must be at least 3 characters long.
									</span>
									<span *ngIf="control.errors?.noWordFound">
										Wrong type of word ({{ control.errors.noWordFound }})
									</span>
									<span *ngIf="control.errors?.notEnoughDataFromAPI">
										No API data for this word.
									</span>
									<span *ngIf="control.errors?.wordNotValid">
										Invalid word.
									</span>
								</p>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="card-footer-item">
				<button
					class="button is-success"
					[disabled]="words_field.invalid"
					type="submit"
				>
					Create Mad Lib
				</button>
			</div>
		</div>
	</form>
</div>
