<p class="title">madlib-top works!</p>
<div *ngIf="madlibs" style="height:400px; overflow:auto">
	<div class="box has-background-grey has-text-light" *ngFor="let lib of madlibs">
		<p class="subtitle"><a [routerLink]="'/lib/'+lib._id">{{ lib.title }}</a></p>
		<div class="level">
			<div class="level-left">
				<div class="level-item">
					<span>Likes: {{ lib.likes }}</span>
				</div>
			</div>
			<div class="level-right">
				<div class="level-item">
					<a class="button is-dark is-small" [routerLink]="'/user/'+lib.user._id">
						by {{ lib.user.user_name }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>